/* GLOBAL */
* {
  box-sizing: border-box;
}
/* END GLOBAL */

body {
  background-color: lightgreen;
}
/* APP */
#app {

}

#app ul {
  background: blue;
  display: flex;
  flex-direction: row;
}

#app ul >li {
  color: white;
  margin-right: 10px;
  font-size: 18px;
}

.page-wrapper {
  margin: 200px 5% 100px 5%;
  max-width: 1500px;
}
/* END APP */

/* NAVBAR */
.navbar {
  background-color: lightblue;
  height: 85px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  position: fixed;
}

.navbar .left {
  background: red;
  flex: 1;
  display: flex;
  justify-content:center;
  align-items: center;
}

.navbar .middle {
  background-color: grey;
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .right {
  background: yellow;
  flex: 1;
  display: flex;
}

.navbar .right .search {
  background: lightblue;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .right .search input {
  border-radius:50px;
  box-shadow: none;
  border: 1px solid #ccc;
  color: black;
  height: 35px;
  width: 90%;
}

.navbar .right .search input:focus {
  outline: none;
}

.navbar .right .profile {
  background: green;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* END NAVBAR */

/* MAIN-CONTENT */
.main-content {
  background-color: blue;
  display: flex;
  justify-content: space-between;
}

.main-content .primary {
  background-color: red;
  flex: 2;
}

.main-content .primary .mega-header {
  background-color: brown;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}

.main-content .primary .mega-header h1 {
  background-color: red;
  font-size: 65px;
  margin-bottom: 20px;
}

.main-content .primary .mega-header p {
  font-size: 20px;
}

.main-content .secondary {
  background-color: blue;
  flex: 1;
}
/* END MAIN-CONTENT */

/* MODULES */
.module-card {
  background: rgba(255,255,255,0.8);
  border-radius: 10px;
  margin-bottom: 75px;
  margin: 0 5% 20% 5%;
}

.module-card .module-job{
  color: white;
  height: 300px;
  background-color: black;
  padding-top: 10px;
  margin: 0 10%;
}

.module-card .module-ads{
  color: white;
  height: 200px;
  background-color: grey;
  padding-top: 10px;
  margin: 0 10%;
}

.module-card .module-article{
  color: white;
  height: 1000px;
  background-color: purple;
  padding-top: 10px;
  margin: 0 10%;
}
.module-card .module-link{
  color: white;
  height: 600px;
  background-color: blue;
  padding-top: 10px;
  margin: 0 10%;
}
/* END MODULES */

/* FOOTER */
.footer {
  background-color: black;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* END FOOTER */
