/* GLOBAL */
* {
  box-sizing: border-box;
}
/* END GLOBAL */

body {
  background-color: lightgreen;
}
/* APP */
#app {

}

#app ul {
  background: blue;
  display: flex;
  flex-direction: row;
}

#app ul >li {
  color: white;
  margin-right: 10px;
  font-size: 18px;
}

.page-wrapper {
  margin: 200px 5% 100px 5%;
  max-width: 1500px;
}
/* END APP */

/* NAVBAR */
.navbar {
  background-color: lightblue;
  height: 85px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  position: fixed;
}

.navbar .left {
  background: red;
  flex: 1;
  display: flex;
  justify-content:center;
  align-items: center;
}

.navbar .middle {
  background-color: grey;
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .right {
  background: yellow;
  flex: 1;
  display: flex;
}

.navbar .right .search {
  background: lightblue;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .right .search input {
  border-radius:50px;
  box-shadow: none;
  border: 1px solid #ccc;
  color: black;
  height: 35px;
  width: 90%;
}

.navbar .right .search input:focus {
  outline: none;
}

.navbar .right .profile {
  background: green;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* END NAVBAR */

/* MAIN-CONTENT */
.main-content {
  background-color: blue;
  height: 1000px;
}
/* END MAIN-CONTENT */

/* FOOTER */
.footer {
  background-color: black;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* END FOOTER */
